.news-wrapper {
    border: 1px solid silver;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
}

.input {
    &.green {
        border: 2px solid green;
    }
    &.red {
        border: 2px solid red;
    }
}

.active {
    border: 2px solid #61dafb;
}